@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik&display=swap");

* {
	position: relative;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	list-style: none;
	border-collapse: collapse;
	border-spacing: 0;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	cursor: default;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}

input,
textarea {
	cursor: text;
}

a,
a *,
button,
input[type="range"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

article,
div,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
iframe,
a,
img,
form,
label,
ul,
ol {
	display: block;
}

body {
	width: 100%;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	padding-top: 2%;
}

section {
	max-width: 42%;
	margin: auto;
	padding: 1%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 2rem;
}

h2 {
	//text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

button {
	margin-bottom: 0.5rem;
	padding: 0.3rem 0.5rem;
	background-color: #39b45e;
	border-radius: 0.3rem;
	color: white;
}

#divInput {
	width: 100%;
	display: flex;
}

.active {
	display: none !important;
	background-color: black;
}

#textarea {
	height: 2.1rem;
	width: 100%;
	border: 1px solid black;
	border-radius: 0.3rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.2rem 0.2rem 0.5rem 0.5rem;
}

ol {
	counter-reset: num;
}

li {
	display: flex;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	align-items: center;

	div {
		font-size: 1rem;
	}
}

li::before {
	content: counter(num) ". "; 
	counter-increment: num; 
	margin-right: 0.5rem;
}

li button:nth-child(1) {
	order: 1;
	margin-left: 0.5rem;
	align-self: center;
}

li button:nth-child(2) {
	order: 2;
	margin-left: 0.5rem;
	align-self: center;
}

input {
	width: 100%;
	background-color: #fff;
}
